<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="container">
    Listing
  </div>
  <div class="container">
    <%= form_for @room do |f| %>
      <label>Home Type</label>
      <%= f.select :home_type,  [%w[Apartment Apartment], %w[House House], ["Bed & Breakfast", "Bed & Breakfast"]],
                   id: "home_type", prompt: "Select..." %>
      <br>
      <label>Room Type</label>
      <%= f.select :room_type,  [%w[Entire Entire], %w[Private Private], %w[Shared Shared]],
                   id: "home_type", prompt: "Select..." %>
      <br>
      <label>Accommodate</label>
      <%= f.select :accommodate,  [["1", 1], ["2", 2], ["3", 3], ["4", 4]],
                   id: "accommodate", prompt: "Select..." %>
      <br>
      <label>Bedrooms</label>
      <%= f.select :bed_room,  [["1", 1], ["2", 2], ["3", 3], ["4", 4]],
                   id: "bed_room", prompt: "Select..." %>
      <br>
      <label>Bathroom</label>
      <%= f.select :accommodate,  [["1", 1], ["2", 2], ["3", 3], ["4", 4]],
                   id: "bath_rooms", prompt: "Select..." %>

      <div><%= f.submit %></div>
    <% end %>
  </div>

</div>
