<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="text-center">
    Photos
  </div>

  <div class="row">
    <div class="text-center">
      <%= form_for @room, url: room_photos_path(@room), method: 'post', html: { multipart: true } do |f| %>
        <div class="form-group">
          <span class="container">
            Select Photos
            <%= file_field_tag "images[]", type: :file, multiple: true%>
          </span>
        </div>
        <div class="text-center">
          <%= f.submit "Add Photos" %>
        </div>
      <% end %>
    </div>
    <div id="photos">
      <%= render 'photos/photos_list' %>
    </div>
  </div>
</div>
