<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=API_KEY_HERE&callback=initMap"-->
<!--        type="text/javascript"></script>-->
<!--<div class="row">-->
<!--  <div id="map" style="width: 100%; height: 400px"></div>-->
<!--  <script scr="https://maps.googleapis.com/maps/api/js"></script>-->
<!--  <script>-->
<!--    function initialize() {-->
<!--        var location = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};-->
<!--        var map = new google.maps.Map(document.getElementById('map'), {-->
<!--            center: location,-->
<!--            zoom: 14-->
<!--        });-->

<!--        var marker = new goole.maps.Marker({-->
<!--            position: location,-->
<!--            map: map-->
<!--        });-->
<!--    }-->

<!--    google.maps.event.addDomListener(window, 'load', initialize);-->
<!--  </script>-->
<!--</div>-->

<div class="row">
  <script type="text/javascript">
      // Функция ymaps.ready() будет вызвана, когда
      // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
      ymaps.ready(init);
      function init(){
          var myMap = new ymaps.Map("map", {
              center: [48.023, 37.8022],
              zoom: 11
          });
          var myGeoObject = new ymaps.GeoObject({
              geometry: {
                  type: "Point", // тип геометрии - точка
                  coordinates: [<%= @room.latitude %>, <%= @room.longitude %> ] // координаты точки
              },
              properties: {
                  balloonContentLayout: ymaps.templateLayoutFactory.createClass(
                      '<div class="my-balloon">' +
                      '<img src=<%= image_tag @room.photos.first.url %>>' + // добавление изображения
                      '<p>Описание метки</p>' +
                      '</div>'
                  )
              }
          });
          myMap.geoObjects.add(myGeoObject);
      }
  </script>
  <div id="map" style="width: 600px; height: 400px"></div>
</div>
