<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=Rails.application.secrets.yandexmap[:apikey]&lang=ru_RU" type="text/javascript">
    </script>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/messages' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
